@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: "Poppins"; */

}


/* Home Page Starts Here */

#home {
    /* border: 2px solid red; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    /* border: 1px solid red; */
    flex-basis: 15%;
    display: flex;
    background-color: rgb(0, 0, 0);
}

#nav_one {
    flex-basis: 20%;
    /* border: 1px solid blue; */

    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_two {
    flex-basis: 80%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 100px;
    padding-right: 90px;

}


#nav_two a {
    font-family: "Poppins";
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 500ms 0s ease;

}

#nav_one h1 {
    color: #d70a03;
    font-size: 80px;
    cursor: pointer;

}

#nav_one #music_nav {
    position: relative;
    top: 15px;
    font-size: 25px;
    letter-spacing: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: "Poppins"; */
    font-weight: 100px;
    color: white;
    cursor: pointer;
}


#home_page {
    /* border: 1px solid red; */
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("./assets/banner2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow-x: hidden; */
}

main{
    overflow-x: hidden;
    height: auto;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent; 
}

#goal {
    display: flex;
    gap: 1px;
}

article h1 {
    position: relative;
    bottom: 120px;
    font-family: "Poppins";
    font-size: 60px;
    color: white;
    letter-spacing: 1px;
}

#Q {
    color: red;
    /* font-family: "Poppins"; */
    font-size: 100px;
    position: relative;
    bottom: 150px;
    font-weight: 800;
}



#slogan {
    color: white;
    position: relative;
    bottom: 120px;
    font-weight: bolder;
    font-size: 25px;
}

article #btn_explore {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10rem;
    background-color: lightgray;
    border: none;
    transition: all 500ms 100ms ease;
}

article #btn_explore:hover {
    background-color: red;
    cursor: pointer;
    scale: 1.05;
}

#nav_two a:hover {
    scale: 1.05;
}



/* Albums Page Starts Here */

#albums {
    /* border: 2px solid red; */
    height: 200vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: lightgray
}

#song_container {
    /* border: 2px solid blue; */
    height: 100%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    gap: 30px;
    padding: 10px 0px 0px 38px;
    margin-top: 10px;
    justify-content: space-between;
    padding-right: 100px;
    
    
}


.song_card {
    border: 1px solid #d2c8c8;
    height: 350px;
    width: 280px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(189, 245, 189);
   

}

.song_card:hover{
    border: 1px solid #a69898;
    scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 350px;
    width: 280px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    transition: all 500ms 0s ease;

}

.song_card:hover #play_solid{
    display: flex;
    transition: all 500ms 0s ease;
}



.song_card img {
    width: 100%;
    height: 220px;
    border-radius: 10px;
}

.song_card h3 {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}

.song_card p {
    text-align: center;

}

#album_title h2 {
    /* border: 2px solid red; */
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    /* height: 30px; */
    color: rgb(20, 139, 11);
    font-weight: bolder;
    /* width: 50px; */


}

/* Contact CSS */

#contact {
    height: 100vh;
    width: 100vw;
    
    /* border: 1px solid blue; */
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-top: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#contact_container {
    /* border: 2px solid red; */
    width: 90%;
    margin: 0px auto;
    display: flex;
    height: 55%;
    

}


#contact_us {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 50px;
    font-family: "Poppins";

}

#contact_us_one {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 22px;
}

#contact_us_two {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contact_us_two a{
    text-decoration: none;
    color: white;
}

#contact_us_three {
    margin-top: 10px;
    /* padding-left: 10px; */
    display: flex;
    gap: 15px;
    font-size: 22px;
}

#contact_us_three a{
    text-decoration: none;
    color: white;
}

#get_in_touch {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 50px;
}

#get_in_touch_one {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 10px;
    font-family: "Poppins";
    font-size: 22px;
    /* padding-left: 150px; */
}

#get_in_touch_two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
    gap: 25px;

}

#get_in_touch_two .in1 {
    width: 550px;
    height: 45px;
    /* height: 25%; */
    border-radius: 10px;
    border: none;
    padding: 10px;

}

#get_in_touch_two .in1:focus {
    width: 550px;
    height: 45px;
    /* height: 25%; */
    border-radius: 10px;
    border: none;
    outline: none;
}

#get_in_touch_two textarea {
    border-radius: 10px;
    border: none;
    padding: 10px;
}

#get_in_touch_two textarea:focus {
    border-radius: 10px;
    border: none;
    outline: none;
}

#get_in_touch_two #submit {
    height: 45px;
    width: 100px;
    background-color: lightgray;
    /* background-color: red; */
    /* margin-left: 80px; */
    border-radius: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    color: red;
    font-weight: bold;
    transition: all 550ms 0s ease;
}

#get_in_touch_two #submit:hover {
    background-color: rgb(232, 11, 11);
    color: black;
    scale: 1.085;
}


#new_music {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 25px;
    font-family: "Poppins";
}

#new_music_one {
    display: flex;
    margin-top: 20px;
    padding-left: 20px;
    font-family: "Poppins";
    font-size: 22px;

}

#new_music_two {

    display: flex;
    flex-direction: row;
    gap: 35px;
    padding-left: 20px;
    
}

#new_music_two img{
    transition: all 500ms 0s ease;
}

#new_music_two img:hover{
    scale: 1.05;
    cursor: pointer;
}

#contact #copy {
    color: white;
    font-family: "Poppins";
    font-weight: 200;
    /* width: 100%; */
    position: relative;
    left: 470px;
    top: 100px;
    /* border: 2px solid red; */

}


/* Footer */

footer{
    background-color: lightgray;
    
}


#sound_bar{
    /* padding-top: 0px; */
    /* border: 2px solid black; */
    height: 35vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#sound_bar .range{
    width: 800px;
    cursor: pointer;    
    accent-color: green;
  
}

#volume_range1{
 
    position: relative;
    top: 35px;
    right: 30px;
    writing-mode: vertical-rl;
    vertical-align: auto;
    direction: rtl;
    height:60px;
    width: 6px;
    accent-color: green;
    cursor: pointer;
    /* border: 2px solid red; */
}

#abc{
    /* border: 1px solid red; */
    height: 10px;
}

#album_name{
    position: relative;
    top: 35px;
    font-size: large;
    font-weight: bolder;
    font-family: cursive;
}

#time{
    position: relative;
    bottom: 10px;
}

#sound_bar #footer_icons{
    display: flex;
    gap: 45px;
    position: relative;
    top: 90px;
 
}

#sound_bar #footer_icons i{
    font-size: 22px;
    cursor: pointer;
    border: 1px solid black;
    background-color: green;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 500ms 0s ease;
}
#sound_bar #footer_icons i:hover{
    scale: 1.1;

}


#play_solid{
    position: relative;
    font-size: 35px;
    left: 80%;
    bottom: 15%;
    border: 2px solid whitesmoke;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(19, 75, 2);
    display: none;
    
}
#play_solid:hover{
    cursor: pointer;
}



#sendMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    width: 90vw;
}


#sound_bar #volume{

    position: relative;
    right: 90px;
    top: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.55rem;
    /* border: 1px solid black; */
    width: 45px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    background-color: green;
}



@media only screen and (max-width : 500px) and (min-width : 200px) {
    *{
        margin: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    #home{
        height: 100vh;
        width: 100vw;
    }

    main{
        width: 100vw;
        height: 300vh;
        /* border: 2px solid black; */
    }

    nav{
        /* border: 2px solid red; */
        flex-basis: 10%;
        display: flex;
    }

    #home_page{
        flex-basis: 90%;
        /* border: 2px solid red; */
        background: url("./assets/banner2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #nav_one {
       display: flex;
       /* border: 1px solid blue; */
       flex-basis: 20%;
    }

    #nav_one h1{
        font-size: 40px;
        position: relative;
        bottom: 10px;
    }

    #nav_one #music_nav h4{
        font-size: 15px;
        position: relative;
        bottom: 15px;
        left: 1px;
        /* top: 25px; */
        
        /* border: 1px solid red; */
    }

    #nav_two{
        flex-basis: 80%;
        /* border: 1px solid red; */
       display: flex;
       flex-direction: row;
       gap: 0px;
       justify-content: flex-end;
       align-items: center;
       gap: 30px;
       padding-right: 15px;
       /* font-size: 15px; */
       
       
    }
 
    #nav_two a{
        position: relative;
        /* top: 0px; */
        font-size: 15px;
    }




    #goal{
        display: flex;
        flex-direction: column;
        /* gap: 1px; */
        
    }

    #goal #welcome1{
        font-size: 40px;
        position: relative;
        top: 15px;
    }

    #Q{
        font-size: 100px;
        position: relative;
        top: 5px;
        /* left: 10px; */
    }
    #m1{
        position: relative;
        bottom: 50px;
        left: 82px;
        width: 200px;
        font-size: 30px;
        /* border: 2px solid red; */
    }

    #slogan{
        position: relative;
        top: 10px;
        left: 45px;
    }

    #btn_explore{
        position: relative;
        top: 50px;
    }

    /* Albums Page Starts here */

    #albums{
        height: 100vh;
        width: 100vw;
        /* border: 2px solid red; */
        background-color: rgba(0, 0, 0);
    }

    #album_title h2{
        text-align: center;
        font-size: 27px;
        margin-top: 10px;
        color: green;
    }

    #song_container {
        /* border: 2px solid blue; */
        height: 100vh;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: 0px auto;
        gap: 10px;
        padding: 20px 10px 10px 20px;
        /* margin-top: 10px; */
        justify-content: space-between;
        padding-right: 20px;
        background-color: rgba(83, 81, 81, 0.155);
        
        
    }

    .song_card {
        border: 1px solid #d2c8c8;
        height: 140px;
        width: 80px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        /* gap: 10px; */
        background-color: rgb(146, 209, 146);  
    }
    .song_card:hover{
        scale: 1.05;
        border: 1px solid #d2c8c8;
        height: 140px;
        width: 80px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        /* gap: 10px; */
        background-color: rgb(146, 209, 146);  

        transition: all 800ms 0s ease;
    }

    .song_card:hover #play_solid{
        display: flex;
        font-size: 15px;
        height: 25px;
        width: 25px;
        position: relative;
        bottom: 85px;
        right: 1px;
        transition: all 500ms 0s ease;
    }


    .song_card img{
        height: 100px;
    }

    .song_card h3{
        font-size: 13px;
        /* border: 1px solid red; */
    }
    
    .song_card p{
        font-size: 10px;
    }

    .song_card #play_solid{
        position: relative;
        font-size: 22px;
        left: 65%;
        bottom: 38%;
    }
   
    /* Contact Us */

    #contact{
        height: 70vh;
        width: 100vw;
        /* border: 2px solid red; */
        padding: 0px;
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;

    }

    #contact_container{
        /* border: 2px solid blue; */
        width: 100vw;
        height: 70%;
        display: flex;
        margin: 0px auto;
    }

    #contact_us{
        /* border: 1px solid red; */
        padding: 10px;
        width: 130px;
        /* flex-basis: 20%; */
    }
    #contact_us_one{
        font-size: 13px;
    }

    #contact_us_two p{
        font-size: 10px;
        /* padding-right: 3px; */
    }

    #contact_us_three i{
        font-size: 17px;
    }

    #get_in_touch{
        /* flex-basis: 50%; */
        /* border: 1px solid green; */
        margin: 0px;
        margin-left: 10px;
        padding-top: 10px;
        width: 190px;
    }

    #get_in_touch_one{
        /* border: 2px solid green; */
        font-size: 13px;
        /* padding: 0px; */
        margin: 0px;
    }

    #get_in_touch_two .in1{
        width: 100px;
        height: 25px;
        font-size: 12px;
    }

    #get_in_touch_two .in1:focus{
        width: 100px;
        height: 25px;
        border-radius: 10px;
        font-size: 12px;
        border: none;
        outline: none;
    }


    #get_in_touch_two textarea{
        width: 100px;
        height: 50px;
    }

    #get_in_touch_two #submit{
        height: 25px;
        width: 80px;
        font-size: 13px;
    }

    #new_music{
        /* flex-basis: 30%; */
        /* border: 2px solid yellow; */
        padding: 0px;
        padding-right: 20px;
    }
    #new_music_one{
        font-size: 18px;
        margin: 0px;
        padding-top: 10px;
        font-size: 13px;
    }

    #new_music_two{
        display: flex;
        gap: 15px;
        padding-right: 10px;
    }

    #new_music_two img{
        height: 40px;
        width: 40px;
        padding-right: 5px;
    }

    #copy p{
        position: relative;
        color:white;
        right: 400px;
        bottom: 100px;
        font-size: 13px;
    }

    /* Sound Bar Footer */
    #sound_bar{
        width: 100vw;
        height: 40vh;
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 0px;
    }

    #sound_bar .range{
        width: 60vw;
        height: 25vh;
    }

    #sound_bar #footer_icons{
        display: flex;
        gap: 25px;
        position: relative;
        top: 90px;
        font-size: 13px;
        height: 10px;
        
    }

    #sound_bar #footer_icons i{
        border: 2px solid green;
        background-color: green;
        height: 35px;
        width: 35px;
        font-size: 18px;
    }

    #sound_bar #song_progress_bar{
        position: relative;
        bottom:85px;
    }
    #album_name{
        font-size: 13px;
        position: relative;
        /* bottom: 30px; */
        height: 20%;
        top: 50px;
        width: 50%;
        left: 25px;
        /* border: 2px solid red; */
    }

    #abc #volume{
        /* border: 1px solid red; */
        height: 30px;
        width: 30px;
        position: relative;
        right: 70px;
        /* bottom: 20px; */
        top: 98px;
        background-color: green;

    }

    #abc #volume i{
        font-size: 20px;
    }

    #abc #volume_range{
        position: relative;
        /* top: 0px; */
        bottom: 2px;
        left: 5px;

    }

    #time{
        font-size: 15px;
    }

}


